{:deps {overtone/overtone {:mvn/version "0.16.3331"}
        org.clojure/math.numeric-tower {:mvn/version "0.1.0"}
        com.rpl/specter {:mvn/version "1.1.4"}}
 :aliases
 {:cider-nrepl {:extra-paths ["dev" "test"]
                :extra-deps {cider/cider-nrepl {:mvn/version "0.57.0"}
                             refactor-nrepl/refactor-nrepl {:mvn/version "3.11.0"}}
                :jvm-opts    ["-Djdk.attach.allowAttachSelf"]
                :main-opts  ["-m" "nrepl.cmdline" "--port" "7888" "--middleware" "[cider.nrepl/cider-middleware]"]}

  :portal {:extra-deps {djblue/portal {:mvn/version "0.59.2"}}}}}
